@import url(Header.scss);
@import url(Footer.scss);
@import url(Layout.scss);
@import url(Home.scss);
@import url(BlogCard.scss);
@import url(ProductCard.scss);
@import url(SpecialProducts.scss);
@import url(OurStore.scss);
@import url(Contact.scss);
@import url(CompareProducts.scss);
@import url(Login.scss);
@import url(Singleblog.scss);
@import url(Policies.scss);
@import url(SingleProduct.scss);
@import url(Cart.scss);
@import url(Checkout.scss);


:root {
  --top-highlight-color--: #131921;
  --header-border-color--: #3b4149;
  --search-bg-color--: #febd69;
  --navbar-bg-color--: #232f3e;
  --para-color--: #777;
  --product-heading-color--: #bf4800;
  --product-title-h5-color--: #1c1c1c;
  --badge-color--: #eb353b00;
  --filter-title-color--: #1c1c1b;
  --filter-font-color: #777;
  --form-check--: #febd69;
  --products-border-color--: #ededed;
  --banner-heading--: #bf4800;
  --background-color--: #f5f5f7;
  --input-bg-color--: #f7f7f7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: "Rubik", sans-serif;
}

.gap-5 {
  gap: 5px;
}

.gap-10 {
  gap: 10px;
}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-duration: 0.3s;
  letter-spacing: 2px;
  min-width: 80px;
  font-weight: 700;
  text-align: center;
  padding: 15px 30px;
  color: white;
  background-color: var(--navbar-bg-color--);
}
.button:hover {
  transform: scale(1.04);
  background-color: var(--search-bg-color--);
  color: var(--top-highlight-color--);
}

// marquee
.card-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
