@import url(Header.scss);
@import url(Footer.scss);
@import url(Layout.scss);
@import url(Home.scss);
@import url(BlogCard.scss);
@import url(ProductCard.scss);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  display: inline-block;
}

body {
  font-family: 'Rubik', sans-serif;
}

.gap-10 {
  gap: 10px;

}

.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.button{
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-duration: .3s;
  letter-spacing: 2px;
  min-width: 80px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 15px 30px;
  color: white;
  background-color: var(--navbar-bg-color--);
}
.button:hover {
  transform: scale(1.04);
  background-color: var(--search-bg-color--);
  color: var(--top-highlight-color--);
}


// marquee
.card-wrapper {
  background-color: #fff;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}