.single-blog-card a {
  font-size: 18px;
  color: var(--para-color--);
  margin-bottom: 20px;
}

.single-blog-card h3{
  font-size: 24px;
  font-weight: 600;
  color: var(--filter-title-color--);

}

.single-blog-card p{
  color: var(--para-color--);
  font-size: 14px;

}

